<body>
    <div class="container-fluid p-2">
        <h1>About</h1>
        <!--CONTENT-->
        <p><b>w</b>elcome to Plethora,a culinary oasis where diverse flavors from around the world converge in a captivating ambiance.Indulge in
        an array of cuisines,from tantalizing Asian dishes to savory Mediterranean delights.Our warm and inviting atmosphere sets the stage for
        an unforgettable dining experience.Discover the perfect harmony of taste and ambiance at Plethora.</p>
        <!-- IMAGE SECTION-->
        <section class="d-flex flex-wrap m-2 justify-content-around">
            <img src="/assets/images/menus/menuindian1.jpeg" class="img-thumbnail "><br>
            <img src="/assets/images/menus/menufrench1.jpg" class="img-thumbnail " height="300px" width="300px"><br>
            <img src="/assets/images/menus/menumexican1.jpeg" class="img-thumbnail "><br>
            <img src="/assets/images/menus/menuitalian1.jpeg" class="img-thumbnail "><br>
           
        </section>
        
    </div>
</body>
