<body>
    <!--banner section-->
    <header class="card  text-light h4 p-5">
         <div class="img-overlay">
            <div class="card-text">
                Elevate Your Taste Experience At Plethora
            </div><br>
            <a href="#" class="btn" routerLink="/signup">Sign in</a>
        </div>

    </header>



    <!-- Timings for the website-->

<div id="scroll-container">
    <div id="scroll-text">!!!!!!!!!!!!!!!!!!!!!!!  WELCOME TO PLETHORA !!!!!!!!!!!!!!!!!!!!!!   &nbsp;&nbsp;&nbsp;&nbsp; Timings: 9AM--1AM  6PM--10PM &nbsp;&nbsp;&nbsp;&nbsp; Timings: 9AM--1AM  6PM--10PM &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Timings: 9AM--1AM  6PM--10PM</div>
</div>


    <!--MENU SLIDING OR CAROUSEL SECTION-->
    <section class=" py-4 m-3"> 
       <h2 class="text-center p-3">!!!!!!!!!! Today's Special !!!!!!!!!!</h2>
       
       <div class="container ">
        <div class="cardcontainer">
        <div class="cardmenu">
        <a routerLink="/menu">    
        <img src="/assets/images/menus/menufrappa.jpeg" ></a>
        <p>Frappuccino</p>
        </div>

        <div class="cardmenu">
        <a routerLink="/menu">      
        <img src="/assets/images/menus/menumangolassi.jpeg" ></a>
        <p>Mango Lassi</p>
        </div>

        <div class="cardmenu">
            <a routerLink="/menu">      
        <img src="/assets/images/menus/menuitalaianlasg.jpeg" ></a>
        <p>Lasagna</p>
        </div>

        <div class="cardmenu">
            <a routerLink="/menu">   
        <img src="/assets/images/menus/menufrenchpain.jpeg" ></a>
        <p class="left">Pain au Chocolat</p>
        </div>

        <div class="cardmenu">
            <a routerLink="/menu">   
        <img src="/assets/images/menus/menumexbur.jpeg" ></a>
        <p>Burrito</p>
        </div>

        <div class="cardmenu ">
            <a routerLink="/menu">   
        <img src="/assets/images/menus/menutandchick1.jpeg" ></a>
        <p class="left">Tandoori Chicken </p>
        </div>
        </div>
       </div>

</section>





</body>